<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row border" style="height: 900px;">
    <div class="col-sm-5 mx-5 h-100">
      <div class="row" style="height: 60%; margin-top: 1%;">
        <div class="col-sm-12 border h-100">
          <div class="row">
            <div class="col-sm-12"><h3>Notes</h3>
              <%= @character.notes %>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #efe3c4; height: 35%; margin-top: 4%;">
        <div class="col-sm-12">
          <strong>Gear:</strong>
          <%= @character.gear %>
        </div>
      </div>
    </div>
    <div class="col-sm-5 h-100">
      <div class="row bg-warning" style="height: 35%; margin-top: 1%;">
        <div class="col-sm-4" style="font-size: smaller;">
          <div class="row" style="height: 55%">
            <div class="col-sm-12 border">
              <center><img class="mx-auto" src="https://via.placeholder.com/100x150?text=Portait"></center>
            </div>
          </div>
          <div class="row" style="height: 15%">
            <div class="col-sm-6 border">
              <strong>Age:</strong> <br />
              <%= @character.age %>
            </div>
            <div class="col-sm-6 border">
              <strong>Gender:</strong><br />
              <%= @character.gender %>
            </div>
          </div>
          <div class="row" style="height: 15%">
            <div class="col-sm-6 border">
              <strong>Eyes:</strong><br />
              <%= @character.eyes %>
            </div>
            <div class="col-sm-6 border">
              <strong>Hair:</strong><br />
              <%= @character.hair %>
            </div>
          </div>
          <div class="row" style="height: 15%">
            <div class="col-sm-6 border">
              <strong>Height:</strong><br />
              <%= @character.height %>
            </div>
            <div class="col-sm-6 border">
              <strong>Weight:</strong>
              <%= @character.weight %>
            </div>
          </div>
          
        </div>
        <div class="col-sm-8 border">
          <div class="row">
            <div class="col-sm-6 border">
              <strong>Character name:</strong>
              <%= @character.character_name %>
            </div>
            <div class="col-sm-6 border bg-secondary">
              <strong>Player name:</strong>
              <%= @character.player_name %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 border h-100">
              <strong>Description:</strong>
              <%= @character.description %>
            </div>
          </div>
          <div class="row" style="height: 15%">
            <div class="col-sm-12 border">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editBaseCharater">
  				Edit Charcter Details
				</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #FBD9B9; height: 60%; margin-top: 4%;">
        <div class="col-sm-12">
          <div class="row " style="height: 10%;">
            <div class="col-sm-9">
              <h3>History</h3>
            </div>
            <div class="col-sm-3">
              <a href="#" data-toggle="modal" data-target="#editHistory">Edit History</a>
            </div>
          </div>
          <div class="row" style="height: 90%;">
            <div class="col-sm-12" style="overflow: scroll;">
              <%= truncate(@character.history, length: 25000) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border" style="height: 900px;">
    <div class="col-sm-5 mx-5 h-100">
      <div class="row bg-primary mb-0 border" style="height: 15%;  margin-top: 1%">
        <div class="col-sm-12">
          <div class="row">
            <h2>Prowess</h2>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <table style="width: 100%;">
                <tr>
                  <td class="bg-white border text-center align-middle mx-1" style="width:16.6%">Concept</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">1</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">2</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">3</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">4</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">5</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">6</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">7</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">8</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">9</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">10</td>
                </tr>
                <tr>
                  <td class="bg-white border text-center align-middle mx-1" style="width:16.6%">Bakground</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">1</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">2</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">3</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">4</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">5</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">6</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">7</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">8</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">9</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">10</td>
                </tr>
                <tr ">
                  <td class="bg-white border text-center align-middle mx-1" style="width:16.6%">Race</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">1</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">2</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">3</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">4</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">5</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">6</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">7</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">8</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">9</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">10</td>
                </tr>
              </table>
            </div>
              
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #d8abab; height: 40%; margin-top: 3%">
        <div class="col-sm-12">
          <div class="row px-1" style="border-bottom: 1px solid #dee2e6;">
            <div class="col-sm-3">
              <h3>Concept:</h3>
            </div>
            <div class="col-sm-9">
              <div class="row" style="padding-left: 5%;">
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
              </div>
            </div>
          </div>
          <div class="row px-1">
            <h4><a href="#" data-toggle="modal" data-target="#editConcept"><%= @character.concept.title.nil? ? "Your Character's Concept Description" : @character.concept.title %>:</a></h4>
          </div>
          <div class="row px-1" style="padding-left: 3%; border-bottom: 1px solid #dee2e6;">
            <%= @character.concept.description.nil? ? "Your Character's Concept Description" : @character.concept.description %>
          </div>
          <div class="row px-1">
            <div class="col-sm-6">
              <h5 class="p-0 m-0">Prowesses:</h5>
            </div>
            <div class="offset-sm-3 col-sm-3">
              <a href="#" data-toggle="modal" data-target="#addProwessToConcept">Add prowess</a>
            </div>
          </div>
          <div class="row px-1">
            <div class="col-sm-12" style="overflow: scroll;">
              <%- if (!@character.concept.nil?) -%>
                <%- @character.concept.prowesses.each do |prowess| -%>
                  <div class="row">
                  <a href="#" data-toggle="modal" data-target="#editProwess<%=prowess.id%>"><%= prowess.title %>:</a>
                  &nbsp;  
                  <%= prowess.description %>
                </div>
                <% end %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #FFFCED; height: 40%; margin-top: 3%">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12"><h3>Crossroads</h3>
              <%= @character.crossroads %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 h-100">
      <div class="row bg-secondary text-center" style="height: 15%; margin-top: 1%">
        <div class="col-sm-12"> 
          <div class="row">
            <div class="col-sm-3 border font-weight-bold">Checks</div>
            <div class="col-sm-3 border font-weight-bold">Attribute</div>
            <div class="col-sm-2 border font-weight-bold">Dice</div>
            <div class="col-sm-4 border font-weight-bold">Pools</div>
          </div>
          <div class="row bg-secondary text-center">
            <div class="col-sm-3 border">
              <div class="row pl-1 pt-1">
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
              <div class="row pl-1 pb-1">
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
            </div>
            <div class="col-sm-3 border">Mental</div>
            <div class="col-sm-2 border">1D_</div>
            <div class="col-sm-2 border font-weight-light font-italic" style="font-size: x-small;">Start/Current</div>
            <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Temp</div>
          </div>
          <div class="row bg-secondary text-center">
            <div class="col-sm-3 border">
              <div class="row pl-1 pt-1">
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
              <div class="row pl-1 pb-1">
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
            </div>
            <div class="col-sm-3 border">Phyical</div>
            <div class="col-sm-2 border">1D_</div>
            <div class="col-sm-2 border font-weight-light font-italic" style="font-size: x-small;">Start/Current</div>
            <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Temp</div>
          </div>
          <div class="row bg-secondary text-center">
            <div class="col-sm-3 border">
              <div class="row pl-1 pt-1">
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
              <div class="row pl-1 pb-1">
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
            </div>
            <div class="col-sm-3 border">Social</div>
            <div class="col-sm-2 border">1D_</div>
            <div class="col-sm-2 border font-weight-light font-italic text-center" style="font-size: x-small;">Start/Current</div>
            <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Temp</div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #d8abab; height: 40%; margin-top: 3%">
        <div class="col-sm-12">
          <div class="row px-1" style="border-bottom: 1px solid #dee2e6;">
            <div class="col-sm-3">
              <h3>Background</h3>
            </div>
            <div class="col-sm-9">
              <div class="row" style="padding-left: 5%;">
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
              </div>
            </div>
          </div>
          <div class="row px-1">
            <h4><a href="#" data-toggle="modal" data-target="#editBackground"><%= @character.background.title.nil? ? "Your Character's Background Title" : @character.background.title %></a></h4>
          </div>
          <div class="row px-1" style="padding-left: 3%; border-bottom: 1px solid #dee2e6;">
            <%= @character.background.description.nil? ? "Your Character's Background Description" : @character.background.description %>
          </div>
          <div class="row px-1">
            <div class="col-sm-6">
              <h5 class="p-0 m-0">Prowesses:</h5>
            </div>
            <div class="offset-sm-3 col-sm-3">
              <a href="#" data-toggle="modal" data-target="#addProwessToConcept">Add prowess</a>
            </div>
          </div>
          <div class="row px-1">
            <div class="col-sm-12" style="overflow: scroll;">
              <%- if (!@character.background.nil?) -%>
                <%- @character.background.prowesses.each do |prowess| -%>
                  <div class="row">
                  <a href="#" data-toggle="modal" data-target="#editProwess<%=prowess.id%>"><%= prowess.title %>:</a>
                  &nbsp;  
                  <%= prowess.description %>
                </div>
                <% end %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #d8abab; height: 40%; margin-top: 3%">
        <div class="col-sm-12">
          <div class="row px-1" style="border-bottom: 1px solid #dee2e6;">
            <div class="col-sm-3">
              <h3>Race</h3>
            </div>
            <div class="col-sm-9">
              <div class="row" style="padding-left: 5%;">
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
              </div>
            </div>
          </div>
          <div class="row px-1">
            <h4><a href="#" data-toggle="modal" data-target="#editRace"><%= @character.race.title.nil? ? "Your Character's Race Title" : @character.race.title %></a></h4>
          </div>
          <div class="row px-1" style="padding-left: 3%; border-bottom: 1px solid #dee2e6;">
            <%= @character.race.description.nil? ? "Your Character's Race Description" : @character.race.description %>
          </div>
          <div class="row px-1">
            <div class="col-sm-6">
              <h5 class="p-0 m-0">Prowesses:</h5>
            </div>
            <div class="offset-sm-3 col-sm-3">
              <a href="#" data-toggle="modal" data-target="#addProwessToConcept">Add prowess</a>
            </div>
          </div>
          <div class="row px-1">
            <div class="col-sm-12" style="overflow: scroll;">
              <%- if (!@character.race.nil?) -%>
                <%- @character.race.prowesses.each do |prowess| -%>
                  <div class="row" >
                  <a href="#" data-toggle="modal" data-target="#editProwess<%=prowess.id%>"><%= prowess.title %>:</a>
                  &nbsp;  
                  <%= prowess.description %>
                </div>
                <% end %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>

<%= link_to 'Show', @character %> |
<%= link_to 'Back', characters_path %>

<!--MODALS -->
<!--BaseCharcter-->
<div class="modal fade" id="editBaseCharater" tabindex="-1" role="dialog" aria-labelledby="editBaseCharacterLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  		<%= form_with(model: @character, local: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit <%= @character.character_name %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
    		  <% if @character.errors.any? %>
    		    <div id="error_explanation">
    		      <h2><%= pluralize(c@haracter.errors.count, "error") %> prohibited this character from being saved:</h2>

    		      <ul>
    		      <% @character.errors.full_messages.each do |message| %>
    		        <li><%= message %></li>
    		      <% end %>
    		      </ul>
    		    </div>
    		  <% end %>
    		  <div class="row">
    		  	<div class="col-sm-6">
    		  		<div class="field">
    		    		<%= form.label :character_name %>
    		    		<%= form.text_field :character_name %>
    		  		</div>
  	  	    </div>
            <div class="col-sm-6">
    		  		<div class="field">
    		    		<%= form.label :player_name %>
    		    		<%= form.text_field :player_name %>
    		  		</div>
            </div>
          </div>
    		  <div class="row">
    		  	<div class="col-sm-12">
    		  		<div class="field">
    		    		<%= form.label :description %>
    		    		<br />
    		    		<%= form.text_area :description, style: "width: 100%;"%>
    		  		</div>
    		  	</div>
    		  </div>
    		  <div class="row pb-2">
    		  	
    		  	<div class="col-sm-6">
    	  			<div class="field">
    				    <%= form.label :eyes %>
    				    <br />
    				    <%= form.text_field :eyes, style: "width: 100%;" %>
    			  	</div>
    			  	<div class="field">
    				    <%= form.label :hair %>
    				    <br />
    				    <%= form.text_field :hair, style: "width: 100%;" %>
    			  	</div>
    			  	<div class="field">
      			    <%= form.label :gender %>
      			    <br />
      			    <%= form.text_field :gender, style: "width: 100%;" %>
              </div>
    			  </div>

    		  	</div>
    		  	<div class="col-sm-6">
    		  		<div class="field">
      			    <%= form.label :age%>
      			    <br />
      			    <%= form.text_field :age, style: "width: 100%;" %>
              </div>
              <div class="field">
                <%= form.label :height %>
                <br />
                <%= form.text_field :height, style: "width: 100%;" %>
              </div>
              <div class="field">
                <%= form.label :weight %>
                <br />
                <%= form.text_field :weight, style: "width: 100%;" %>
              </div>
    			  </div>
  	  	</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="editHistory" tabindex="-1" role="dialog" aria-labelledby="editHistoryLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: @character, local: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit <%= @character.character_name %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if @character.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(c@haracter.errors.count, "error") %> prohibited this character from being saved:</h2>

              <ul>
              <% @character.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="col-sm-12">
              <div class="field">
                <%= form.text_area :history, :size => "55%x25%" %>
              </div>
            </div>
          </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--MainConcept-->
<div class="modal fade" id="editConcept" tabindex="-1" role="dialog" aria-labelledby="editConceptLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
  		<%= form_with(model: @character.concept, local: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit <%= @character.concept.title%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
    		  <% if @character.concept.errors.any? %>
    		    <div id="error_explanation">
    		      <h2><%= pluralize(character.concept.errors.count, "error") %> prohibited this character from being saved:</h2>

    		      <ul>
    		      <% @character.concept.errors.full_messages.each do |message| %>
    		        <li><%= message %></li>
    		      <% end %>
    		      </ul>
    		    </div>
    		  <% end %>
    		  <div class="row">
    		  	<div class="col-sm-3">
    		  		<div class="field">
    		    		<%= form.label :title %>
    		  		</div>
    		  	</div>
    		  	<div class="col-sm-9">
    		  		<div class="field">
    		    		<%= form.text_field :title, style: "width: 100%;" %>
    		  		</div>
    		  	</div>
    		  </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="field">
                <%= form.label :description %>
              </div>
            </div>
          </div>
          <div class="row>">
            <div class="col-sm-12">
              <div class="field">
                <%= form.text_field :description, style: "width: 100%;" %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--Concept Prowess-->
<div class="modal fade" id="addProwessToConcept" tabindex="-1" role="dialog" aria-labelledby="addProwessToConceptLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: @conceptProwess, local: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Prowess for Concepts</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if @conceptProwess.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@conceptProwess.errors.count, "error") %> prohibited this character from being saved:</h2>

              <ul>
              <% @conceptProwess.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= form.hidden_field :has_prowess_type, :value => @character.concept.class.name %>
          <%= form.hidden_field :has_prowess_id, :value => @character.concept.id %>

          <div class="row">
            <div class="col-sm-3">
              <div class="field">
                <%= form.label :title %>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="field">
                <%= form.text_field :title, style: "width: 100%;" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="field">
                <%= form.label :description %>
              </div>
            </div>
          </div>
          <div class="row>">
            <div class="col-sm-12">
              <div class="field">
                <%= form.text_field :description, style: "width: 100%;" %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--MainBackground-->
<div class="modal fade" id="editBackground" tabindex="-1" role="dialog" aria-labelledby="editBackgroundLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: @character.background, local: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit <%= @character.background.title%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if @character.concept.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(character.background.errors.count, "error") %> prohibited this character from being saved:</h2>

              <ul>
              <% @character.background.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="col-sm-3">
              <div class="field">
                <%= form.label :title %>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="field">
                <%= form.text_field :title, style: "width: 100%;" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="field">
                <%= form.label :description %>
              </div>
            </div>
          </div>
          <div class="row>">
            <div class="col-sm-12">
              <div class="field">
                <%= form.text_field :description, style: "width: 100%;" %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--Background Prowess-->
<div class="modal fade" id="addProwessToBackground" tabindex="-1" role="dialog" aria-labelledby="addProwessToBackgroundLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: @backgroundProwess, local: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Prowess for Background</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if @conceptProwess.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@backgroundProwess.errors.count, "error") %> prohibited this character from being saved:</h2>

              <ul>
              <% @backgroundProwess.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= form.hidden_field :has_prowess_type, :value => @character.background.class.name %>
          <%= form.hidden_field :has_prowess_id, :value => @character.background.id %>

          <div class="row">
            <div class="col-sm-3">
              <div class="field">
                <%= form.label :title %>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="field">
                <%= form.text_field :title, style: "width: 100%;" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="field">
                <%= form.label :description %>
              </div>
            </div>
          </div>
          <div class="row>">
            <div class="col-sm-12">
              <div class="field">
                <%= form.text_field :description, style: "width: 100%;" %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--MainRace-->
<div class="modal fade" id="editRace" tabindex="-1" role="dialog" aria-labelledby="editRaceLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: @character.race, local: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit <%= @character.race.title%></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if @character.concept.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(character.race.errors.count, "error") %> prohibited this character from being saved:</h2>

              <ul>
              <% @character.race.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row">
            <div class="col-sm-3">
              <div class="field">
                <%= form.label :title %>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="field">
                <%= form.text_field :title, style: "width: 100%;" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="field">
                <%= form.label :description %>
              </div>
            </div>
          </div>
          <div class="row>">
            <div class="col-sm-12">
              <div class="field">
                <%= form.text_field :description, style: "width: 100%;" %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--Background Prowess-->
<div class="modal fade" id="addProwessToRace" tabindex="-1" role="dialog" aria-labelledby="addProwessToRaceLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: @raceProwess, local: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Prowess for Race</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if @raceProwess.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@raceProwess.errors.count, "error") %> prohibited this character from being saved:</h2>

              <ul>
              <% @raceProwess.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= form.hidden_field :has_prowess_type, :value => @character.race.class.name %>
          <%= form.hidden_field :has_prowess_id, :value => @character.race.id %>

          <div class="row">
            <div class="col-sm-3">
              <div class="field">
                <%= form.label :title %>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="field">
                <%= form.text_field :title, style: "width: 100%;" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="field">
                <%= form.label :description %>
              </div>
            </div>
          </div>
          <div class="row>">
            <div class="col-sm-12">
              <div class="field">
                <%= form.text_field :description, style: "width: 100%;" %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--Edit Concept Prowesses -->
<%- @character.concept.prowesses.each do |prowess| -%>
  <div class="modal fade" id="editProwess<%=prowess.id%>" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_with(model: prowess, local: true) do |form| %>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit <%= prowess.title%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% if prowess.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(prowess.errors.count, "error") %> prohibited this prowess from being saved:</h2>

                <ul>
                <% prowess.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="col-sm-3">
                <div class="field">
                  <%= form.label :title %>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="field">
                  <%= form.text_field :title, style: "width: 100%;" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="field">
                  <%= form.label :description %>
                </div>
              </div>
            </div>
            <div class="row>">
              <div class="col-sm-12">
                <div class="field">
                  <%= form.text_field :description, style: "width: 100%;" %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= link_to 'Destroy', prowess, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end -%>
<%- @character.background.prowesses.each do |prowess| -%>
  <div class="modal fade" id="editProwess<%=prowess.id%>" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_with(model: prowess, local: true) do |form| %>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit <%= prowess.title%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% if prowess.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(prowess.errors.count, "error") %> prohibited this prowess from being saved:</h2>

                <ul>
                <% prowess.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="col-sm-3">
                <div class="field">
                  <%= form.label :title %>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="field">
                  <%= form.text_field :title, style: "width: 100%;" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="field">
                  <%= form.label :description %>
                </div>
              </div>
            </div>
            <div class="row>">
              <div class="col-sm-12">
                <div class="field">
                  <%= form.text_field :description, style: "width: 100%;" %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= link_to 'Destroy', prowess, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end -%>
<%- @character.race.prowesses.each do |prowess| -%>
  <div class="modal fade" id="editProwess<%=prowess.id%>" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= form_with(model: prowess, local: true) do |form| %>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit <%= prowess.title%></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% if prowess.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(prowess.errors.count, "error") %> prohibited this prowess from being saved:</h2>

                <ul>
                <% prowess.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="row">
              <div class="col-sm-3">
                <div class="field">
                  <%= form.label :title %>
                </div>
              </div>
              <div class="col-sm-9">
                <div class="field">
                  <%= form.text_field :title, style: "width: 100%;" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="field">
                  <%= form.label :description %>
                </div>
              </div>
            </div>
            <div class="row>">
              <div class="col-sm-12">
                <div class="field">
                  <%= form.text_field :description, style: "width: 100%;" %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <%= link_to 'Destroy', prowess, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end -%>
  