<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row border bg-warning mb-3">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12 border">
          <center><img src="https://via.placeholder.com/250x300?text=Portait"></center>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 border">
          <strong>Age:</strong>
          <%= @character.age %>
        </div>
        <div class="col-sm-6 border">
          <strong>Gender:</strong>
          <%= @character.gender %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 border">
          <strong>Eyes:</strong>
          <%= @character.eyes %>
        </div>
        <div class="col-sm-6 border">
          <strong>Hair:</strong>
          <%= @character.hair %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 border">
          <strong>Height:</strong>
          <%= @character.height %>
        </div>
        <div class="col-sm-6 border">
          <strong>Weight:</strong>
          <%= @character.weight %>
        </div>
      </div>
    </div>
    <div class="col-sm-8 border">
      <div class="row">
        <div class="col-sm-6 border">
          <strong>Character name:</strong>
          <%= @character.character_name %>
        </div>
        <div class="col-sm-6 border bg-secondary">
          <strong>Player name:</strong>
          <%= @character.player_name %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 border h-100">
          <strong>Description:</strong>
          <%= @character.description %>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-secondary text-center">
    <div class="col-sm-3 border font-weight-bold">Checks</div>
    <div class="col-sm-3 border font-weight-bold">Attribute</div>
    <div class="col-sm-2 border font-weight-bold">Dice</div>
    <div class="col-sm-4 border font-weight-bold">Pools</div>
  </div>
  <div class="row bg-secondary text-center">
    <div class="col-sm-3 border">
      <div class="row pl-1 pt-1">
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
      </div>
      <div class="row pl-1 pb-1">
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
      </div>
    </div>
    <div class="col-sm-3 border">Phyical</div>
    <div class="col-sm-2 border">1D_</div>
    <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Start/Current</div>
    <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Temp</div>
  </div>
  <div class="row bg-secondary text-center">
    <div class="col-sm-3 border">
      <div class="row pl-1 pt-1">
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
      </div>
      <div class="row pl-1 pb-1">
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
      </div>
    </div>
    <div class="col-sm-3 border">Mental</div>
    <div class="col-sm-2 border">1D_</div>
    <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Start/Current</div>
    <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Temp</div>
  </div>
  <div class="row bg-secondary text-center">
    <div class="col-sm-3 border">
      <div class="row pl-1 pt-1">
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
      </div>
      <div class="row pl-1 pb-1">
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
        <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
        <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
      </div>
    </div>
    <div class="col-sm-3 border">Social</div>
    <div class="col-sm-2 border">1D_</div>
    <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Start/Current</div>
    <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Temp</div>
  </div>
</div>

<p>Not Done yet</p>

<p>
  <strong>Gear:</strong>
  <%= @character.gear %>
</p>

<p>
  <strong>Concept:</strong>
  <%= @character.concept %>
</p>

<p>
 
</p>

<p>
  <strong>Background:</strong>
  <%= @character.background %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>

<p>
  <strong>History:</strong>
  <%= @character.history %>
</p>

<p>
  <strong>Crossroads:</strong>
  <%= @character.crossroads %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @character.notes %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
