<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row border" style="height: 900px;">
    <div class="col-sm-5 mx-5 h-100">
      <div class="row" style="height: 60%; margin-top: 1%;">
        <div class="col-sm-12 border h-100">
          <div class="row">
            <div class="col-sm-12"><h3>Notes</h3>
              <%= @character.notes %>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #efe3c4; height: 35%; margin-top: 4%;">
        <div class="col-sm-12">
          <strong>Gear:</strong>
          <%= @character.gear %>
        </div>
      </div>
    </div>
    <div class="col-sm-5 h-100">
      <div class="row bg-warning" style="height: 35%; margin-top: 1%;">
        <div class="col-sm-4" style="font-size: smaller;">
          <div class="row" style="height: 55%">
            <div class="col-sm-12 border">
              <center><img class="mx-auto" src="https://via.placeholder.com/100x150?text=Portait"></center>
            </div>
          </div>
          <div class="row" style="height: 15%">
            <div class="col-sm-6 border">
              <strong>Age:</strong> <br />
              <%= @character.age %>
            </div>
            <div class="col-sm-6 border">
              <strong>Gender:</strong><br />
              <%= @character.gender %>
            </div>
          </div>
          <div class="row" style="height: 15%">
            <div class="col-sm-6 border">
              <strong>Eyes:</strong><br />
              <%= @character.eyes %>
            </div>
            <div class="col-sm-6 border">
              <strong>Hair:</strong><br />
              <%= @character.hair %>
            </div>
          </div>
          <div class="row" style="height: 15%">
            <div class="col-sm-6 border">
              <strong>Height:</strong><br />
              <%= @character.height %>
            </div>
            <div class="col-sm-6 border">
              <strong>Weight:</strong>
              <%= @character.weight %>
            </div>
          </div>
          
        </div>
        <div class="col-sm-8 border">
          <div class="row">
            <div class="col-sm-6 border">
              <strong>Character name:</strong>
              <%= @character.character_name %>
            </div>
            <div class="col-sm-6 border bg-secondary">
              <strong>Player name:</strong>
              <%= @character.player_name %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 border h-100">
              <strong>Description:</strong>
              <%= @character.description %>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #FBD9B9; height: 60%; margin-top: 4%;">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12"><h3>History</h3>
              <%= @character.history %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row border" style="height: 900px;">
    <div class="col-sm-5 mx-5 h-100">
      <div class="row bg-primary mb-0 border" style="height: 15%;  margin-top: 1%">
        <div class="col-sm-12">
          <div class="row">
            <h2>Prowess</h2>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <table style="width: 100%;">
                <tr>
                  <td class="bg-white border text-center align-middle mx-1" style="width:16.6%">Concept</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">1</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">2</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">3</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">4</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">5</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">6</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">7</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">8</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">9</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">10</td>
                </tr>
                <tr>
                  <td class="bg-white border text-center align-middle mx-1" style="width:16.6%">Bakground</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">1</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">2</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">3</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">4</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">5</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">6</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">7</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">8</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">9</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">10</td>
                </tr>
                <tr ">
                  <td class="bg-white border text-center align-middle mx-1" style="width:16.6%">Race</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">1</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">2</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">3</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">4</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">5</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">6</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">7</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">8</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">9</td>
                  <td class="bg-primary" style="width:.3%;"></td>
                  <td class="bg-white border text-center align-middle text-secondary" style="width:8%">10</td>
                </tr>
              </table>
            </div>
              
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #d8abab; height: 40%; margin-top: 3%">
        <div class="col-sm-12">
          <div class="row px-1" style="border-bottom: 1px solid #dee2e6;">
            <div class="col-sm-3">
              <h3>Concept:</h3>
            </div>
            <div class="col-sm-9">
              <div class="row" style="padding-left: 5%;">
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
              </div>
            </div>
          </div>
          <div class="row px-1">
            <h4><%= @character.concept.title.nil? ? "Your Character's Concept Description" : @character.concept.title %>:</h4>
          </div>
          <div class="row px-1" style="padding-left: 3%; border-bottom: 1px solid #dee2e6;">
            <%= @character.concept.description.nil? ? "Your Character's Concept Description" : @character.concept.description %>
          </div>
          <div class="row px-1">
            <div class="col-sm-6">
              <h5 class="p-0 m-0">Prowesses:</h5>
            </div>
          </div>
          <div class="row px-1">
            <div class="col-sm-12">
              <%- if (!@character.concept.nil?) -%>
                <%- @character.concept.prowesses.each do |prowess| -%>
                  <div class="row">
                  <span class="font-weight-bold"><%= prowess.title %>:</span>
                  &nbsp;  
                  <%= prowess.description %>
                </div>
                <% end %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #FFFCED; height: 40%; margin-top: 3%">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12"><h3>Crossroads</h3>
              <%= @character.crossroads %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 h-100">
      <div class="row bg-secondary text-center" style="height: 15%; margin-top: 1%">
        <div class="col-sm-12"> 
          <div class="row">
            <div class="col-sm-3 border font-weight-bold">Checks</div>
            <div class="col-sm-3 border font-weight-bold">Attribute</div>
            <div class="col-sm-2 border font-weight-bold">Dice</div>
            <div class="col-sm-4 border font-weight-bold">Pools</div>
          </div>
          <div class="row bg-secondary text-center">
            <div class="col-sm-3 border">
              <div class="row pl-1 pt-1">
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
              <div class="row pl-1 pb-1">
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
            </div>
            <div class="col-sm-3 border">Mental</div>
            <div class="col-sm-2 border">1D_</div>
            <div class="col-sm-2 border font-weight-light font-italic" style="font-size: x-small;">Start/Current</div>
            <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Temp</div>
          </div>
          <div class="row bg-secondary text-center">
            <div class="col-sm-3 border">
              <div class="row pl-1 pt-1">
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
              <div class="row pl-1 pb-1">
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
            </div>
            <div class="col-sm-3 border">Phyical</div>
            <div class="col-sm-2 border">1D_</div>
            <div class="col-sm-2 border font-weight-light font-italic" style="font-size: x-small;">Start/Current</div>
            <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Temp</div>
          </div>
          <div class="row bg-secondary text-center">
            <div class="col-sm-3 border">
              <div class="row pl-1 pt-1">
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
              <div class="row pl-1 pb-1">
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
                <div class="" style="height: 0px; width:8%;padding-bottom:8%;"></div>
                <div class="border" style="height: 0px; width:8%;padding-bottom:8%;background-color:white"></div>
              </div>
            </div>
            <div class="col-sm-3 border">Social</div>
            <div class="col-sm-2 border">1D_</div>
            <div class="col-sm-2 border font-weight-light font-italic text-center" style="font-size: x-small;">Start/Current</div>
            <div class="col-sm-2 border font-weight-light font-italic" style="font-size: smaller;">Temp</div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #d8abab; height: 40%; margin-top: 3%">
        <div class="col-sm-12">
          <div class="row px-1" style="border-bottom: 1px solid #dee2e6;">
            <div class="col-sm-3">
              <h3>Background</h3>
            </div>
            <div class="col-sm-9">
              <div class="row" style="padding-left: 5%;">
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
              </div>
            </div>
          </div>
          <div class="row px-1">
            <h4><%= @character.background.title.nil? ? "Your Character's Background Title" : @character.background.description %></h4>
          </div>
          <div class="row px-1" style="padding-left: 3%; border-bottom: 1px solid #dee2e6;">
            <%= @character.background.description.nil? ? "Your Character's Background Description" : @character.background.description %>
          </div>
          <div class="row px-1">
            <div class="col-sm-6">
              <h5 class="p-0 m-0">Prowesses:</h5>
            </div>
          </div>
          <div class="row px-1">
            <div class="col-sm-12">
              <%- if (!@character.background.nil?) -%>
                <%- @character.background.prowesses.each do |prowess| -%>
                  <div class="row">
                  <span class="font-weight-bold"><%= prowess.title %>:</span>
                  &nbsp;  
                  <%= prowess.description %>
                </div>
                <% end %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="background-color: #d8abab; height: 40%; margin-top: 3%">
        <div class="col-sm-12">
          <div class="row px-1" style="border-bottom: 1px solid #dee2e6;">
            <div class="col-sm-3">
              <h3>Race</h3>
            </div>
            <div class="col-sm-9">
              <div class="row" style="padding-left: 5%;">
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
                <div class="border rounded-circle" style="margin: 1.5%; height: 0px; width:5%;padding-bottom:4%;background-color:white"></div>
              </div>
            </div>
          </div>
          <div class="row px-1">
            <h4><%= @character.race.title.nil? ? "Your Character's Race Title" : @character.race.description %></h4>
          </div>
          <div class="row px-1" style="padding-left: 3%; border-bottom: 1px solid #dee2e6;">
            <%= @character.race.description.nil? ? "Your Character's Race Description" : @character.race.description %>
          </div>
          <div class="row px-1">
            <div class="col-sm-6">
              <h5 class="p-0 m-0">Prowesses:</h5>
            </div>
          </div>
          <div class="row px-1">
            <div class="col-sm-12">
              <%- if (!@character.race.nil?) -%>
                <%- @character.race.prowesses.each do |prowess| -%>
                  <div class="row">
                  <span class="font-weight-bold"><%= prowess.title %>:</span>
                  &nbsp;  
                  <%= prowess.description %>
                </div>
                <% end %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
