<p id="notice"><%= notice %></p>

<p>
  <strong>Character name:</strong>
  <%= @character.character_name %>
</p>

<p>
  <strong>Player name:</strong>
  <%= @character.player_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @character.eyes %>
</p>

<p>
  <strong>Height:</strong>
  <%= @character.height %>
</p>

<p>
  <strong>Hair:</strong>
  <%= @character.hair %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @character.weight %>
</p>

<p>
  <strong>Gear:</strong>
  <%= @character.gear %>
</p>

<p>
  <strong>Concept:</strong>
  <%= @character.concept %>
</p>

<p>
  <strong>Description:</strong>
  <%= @character.description %>
</p>

<p>
  <strong>Background:</strong>
  <%= @character.background %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character.race %>
</p>

<p>
  <strong>History:</strong>
  <%= @character.history %>
</p>

<p>
  <strong>Crossroads:</strong>
  <%= @character.crossroads %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @character.notes %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
